<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rain prediction</title>
</head>
<body>
    <div class="login">
        <h1>RAIN PREDICTION</h1>
        <form action="{{url_for('predict')}}" method="post">
        <input type="text" name="mintemp" placeholder="MINTEMP" required="required"/><br>
        <input type="text" name="maxtemp" placeholder="MAXTEMP" required="required"/><br>
        <input type="text" name="rain" placeholder="RAIN" required="required"/><br>
        <input type="text" name="hum1" placeholder="HUM1" required="required"/><br>
        <input type="text" name="hum2" placeholder="HUM2" required="required"/><br>
        <input type="text" name="temp1" placeholder="TEMP1" required="required"/><br>
        <input type="text" name="temp2" placeholder="TEMP2" required="required"/><br>
        <input type="text" name="ra2" placeholder="rrain" required="required"/><br>
        <button type="submit" class="btn"> predict</button>
       </form>
    </div>
{{prediction_text}}
</body>
</html>
