<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Rain Prediction</title>
</head>
<body>
    <!-- <b><h1>RAIN PREDICTION</h1></b> -->
    <div class="login">
        <b><h1>RAIN PREDICTION</h1></b>
        <form action="{{url_for('predict')}}" method="post">
        <div>
            <label for="data1">Minimum temperature of the day</label>
            &nbsp;&nbsp;
            <input type="text"  placeholder="Min temp">
        </div>
        <br>
        <div>
            <label for="data2">Maximum temperature of the day</label>
            &nbsp;
            <input type="text" placeholder="Max temp">
        </div>
        <br>
        <div>
            <label for="data3">Rainfall rate</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Rain">
        </div>
        <br>
        <div>
            <label for="data2">Average Air Speed of the day</label>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="AIR">
        </div><br>
        <div>
            <label for="data2">Wind Speed at 9 AM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="winds speed 1">
        </div><br>
        <div>
            <label for="data2">Wind Speed at 3 PM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="winds speed 1">
        </div><br>
        <div>
            <label for="data2">Humidity at 9 AM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Humidity 1">
        </div><br>
        <div>
            <label for="data2">Humidity at 3 PM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Humidity 2">
        </div><br>
        <div>
            <label for="data2">Temperature at 9 AM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Temperature 1">
        </div><br>
        <div>
            <label for="data2">Temperature at 3 PM</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Temperature 2">
        </div><br>
        <div>
            <label for="data2">Today Rainy or not</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="enter 1 if rain or 0 if not">
        </div><br>
        <div class="result">
            <button type="submit">Predict</button>
           </div>
        </form>
    </div>
    {{prediction_text}}
</body>
</html>
